*{
    font-family: sans-serif,'Segoe UI';
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    margin:0px;
    padding:0px;
}
body{
    background-image: url('../assets/298695-fotografar-viagem-veja-4-dicas-para-tirar-fotos-incriveis.jpg');
    background-size: cover;
    background-position: 50%;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #424141c5;
    padding: 25px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px 3px #424141c5;
}
nav{
    display: flex;
    align-items: center;
}
ul{
    margin: 0;
    display: flex;
    align-items: center;
}
nav #btn-mobile{
    display: none;
}
li>a{
    font-size: large;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    color:#fff;
    transition: all ease-in-out 0.3s;
}
li>a:hover{
    color: #0c0c0c;
    background-color: #ffffff;
    border-radius: 10px;
}
h1{
    font-size: 50px;
    font-style: italic;
    font-family: Times, serif;
}
p{
    text-align: justify;
}
img{
    object-fit:cover;
    width: 25%;
}
section{
    padding: 25px;
    margin-bottom: 10px;
}
main>section{
    background-color: #00ffff13;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.part2{
    flex-direction: row-reverse;
}
.part3{
    background-color: #99a52a13;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    color:#6e6c6c;
    padding: 25px;
    background-color: #0c0c0cc5;
}
@media screen and (max-width: 600px){
    nav #btn-mobile{
        display: flex;
    }
    #menu li{
        margin-top: 50px;
    }
    ul#menu{
        display: none;
        position: absolute;
        flex-direction: column;
        top: 78px;
        right: -90px;
        height: calc(100vh - 78px);
        background-color: #424141c5;
        transition: all ease-in-out 0.4s;
        transition-delay: 0.1s;
        animation: show 0.5s;
    }
    ul#menu.show{
        right: 0;
        display: flex;
    }
}
@media (min-width:300px) and (max-width: 520px) {
    ul{
        flex-direction: column;
    }
    img{
        width: 30%;
        height: 100px;
    }
    section{
     padding: 0px;   
    }
}
@keyframes show{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
}